
<!-- website navigation links  -->
<%= link_to('New Post', new_post_path) %>
<%= link_to('Logout', controller: 'sessions', action: 'destroy') %>
<%= link_to('New Post', new_post_path) %>

<h1>Users#index</h1>

<div align= center id="siteusers">
	<h1>All Users</h1>
</div>
<!-- list of all the users -->
<div id="username">
<% @users.each do |user| %>
	<hr>
	<%= user.fname %>
	<%= user.lname %>
	
	<%= form_for UserFriend.new do |f| %>
	 	<%= hidden_field_tag('friend_id', user.id) %>
	 	<%= f.submit %> 
	<% end %>
<% end %>
</div>

<%= image_tag('flame3.png') %>
